
<div class="login">
    <div class="login__form">
        <form method="POST" class="form">
            <div class="u-margin-bottom-medium">
                <h2 class="heading-secondary">
                    Frypto - Reservation System
                </h2>
            </div>
            <div class="form-group form__group">              
              <input id="email" [(ngModel)]="user.email" type="email" class="form__input  form-control" name="email" placeholder="Email address" required>							
              <label for="email"  class="form__label">Email address</label>
            </div>
            <div class="form-group form__group">              
              <input id="password" [(ngModel)]="user.password" type="password" class="form__input  form-control" name="password" placeholder="Password" required>
              <label for="password"  class="form__label" >Password</label>
            </div>
            <div class="form__group form-group">
                <button type="submit" class="btn" (click) = "login()">Login</button>
            </div>
        </form>
    </div>
</div>
