<main class="register-view">
    <div class="gallery">
        <figure class="gallery__item">
            <img src="assets/img/flight-1.jpg" alt="Photo of flight 1" class="gallery__photo">
        </figure>
        <figure class="gallery__item">
            <img src="assets/img/flight-2.jpg" alt="Photo of flight 2" class="gallery__photo">
        </figure>
        <figure class="gallery__item">
            <img src="assets/img/flight-3.jpg" alt="Photo of flight 3" class="gallery__photo">
        </figure>
    </div>
    <div class="overview">
        <h1 class="overview__heading">
           Register User
        </h1> 
    </div>
  <div class="register-detail">
      <div class="form-area form">
        <form method="POST">
            <div class="form-group form__group">
              <label for="frist_name">First Name</label>
              <input id="frist_name" [(ngModel)]="user.firstName" type="text" class="register-detail__input form-control " name="frist_name" autofocus="">
            </div>
            <div class="form-group form__group">
              <label for="last_name" >Last Name</label>
              <input id="last_name" [(ngModel)]="user.lastName" type="text" class="register-detail__input form-control" name="last_name">
            </div>
            <div class="form-group form__group">
              <label for="email">Email</label>
              <input id="email" [(ngModel)]="user.email" type="email" class="register-detail__input form-control" name="email">							
            </div>
              <div class="form-group form__group">
                <label for="password" >Password</label>
                <input id="password" [(ngModel)]="user.password" type="password" class="register-detail__input form-control" name="password">
              </div>
              <div class="form-group form__group">
                <label for="password2" >Password Confirmation</label>
                <input id="password2" [(ngModel)]="user.confirmPassword" type="password" class="register-detail__input form-control" name="password-confirm">
              </div>                            
            <div class="form-group form__group u-margin-top-medium">
              <button type="submit" (click) = "registerUser()" class="btn btn-block">Register</button>
            </div>
        </form>
      </div> 
  </div>
</main>