<ul class="side-nav">
    <li class="side-nav__item" routerLinkActive="side-nav__item--active">
        <a routerLink="/hotel" class="side-nav__link">
            <svg class="side-nav__icon">
                <use xlink:href="assets/img/sidebar-sprite.svg#hotel"></use>
            </svg>
            <span>Hotel</span>
        </a>
    </li>
    <li class="side-nav__item" routerLinkActive="side-nav__item--active">
        <a routerLink="/passenger" class="side-nav__link">
            <svg class="side-nav__icon">
                <use xlink:href="assets/img/sidebar-sprite.svg#traveler"></use>
            </svg>
            <span>Passenger</span>
        </a>
    </li>
    <li class="side-nav__item" routerLinkActive="side-nav__item--active">
        <a routerLink="/reservation" class="side-nav__link">
            <svg class="side-nav__icon">
                <use xlink:href="assets/img/sidebar-sprite.svg#calendar"></use>
            </svg>
            <span>Reservation</span>
        </a>
    </li>
    <li class="side-nav__item" routerLinkActive="side-nav__item--active">
        <a routerLink="/payments" class="side-nav__link">
            <svg class="side-nav__icon">
                <use xlink:href="assets/img/sidebar-sprite.svg#wallet"></use>
            </svg>
            <span>Payments</span>
        </a>
    </li>
</ul>