<main class="reservation-view">
    <div class="gallery">
        <figure class="gallery__item">
            <img src="assets/img/flight-1.jpg" alt="Photo of flight 1" class="gallery__photo">
        </figure>
        <figure class="gallery__item">
            <img src="assets/img/flight-2.jpg" alt="Photo of flight 2" class="gallery__photo">
        </figure>
        <figure class="gallery__item">
            <img src="assets/img/flight-3.jpg" alt="Photo of flight 3" class="gallery__photo">
        </figure>
    </div>
  
    <div class="overview">
        <h1 class="overview__heading">
            Flight Reservation
        </h1> 
    </div>
    <div class="reservation-detail">
        <div class="form-area">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Reservation Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Number <br/>in Party</th>
                    <th scope="col">Ticket Type</th>
                    <th scope="col">Travel Class</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let r of reservations; let i = index" >
                    <th scope="row">{{(queryObject.page - 1) * queryObject.pageSize + (i + 1)}}</th>
                    <td>{{r.ReservationDate | date: 'yyyy-MM-dd'}}</td>
                    <td>{{r.Passenger.FirstName}} {{r.Passenger.LastName}}</td>                    
                    <td>{{r.NumberInParty}}</td>
                    <td>{{r.TicketType.Name}}</td>
                    <td>{{r.TravelClass.Class}}</td>
                    <td><span class="badge" [ngClass]="{
                        'badge-success':r.ReservationStatus.Label === 'Paid',
                        'badge-danger':r.ReservationStatus.Label === 'Cancel',
                        'badge-info':r.ReservationStatus.Label === 'Pending'
                      }">{{r.ReservationStatus.Label}}</span></td>
                  </tr>                  
                </tbody>
              </table>
              <div class="pagination" *ngIf="showHidePagination()">
                <ngb-pagination [collectionSize]="totalItem" [pageSize] = "queryObject.pageSize" [maxSize]="5" [(page)]="queryObject.page" size = "lg" (pageChange)="pageChange($event)"></ngb-pagination>
              </div>
              
        </div>        
    </div>   
  
  </main>