<main class="reservation-view">
    <div class="gallery">
        <figure class="gallery__item">
            <img src="assets/img/hotel-1.jpg" alt="Photo of hotel 1" class="gallery__photo">
        </figure>
        <figure class="gallery__item">
            <img src="assets/img/hotel-2.jpg" alt="Photo of hotel 2" class="gallery__photo">
        </figure>
        <figure class="gallery__item">
            <img src="assets/img/hotel-3.jpg" alt="Photo of hotel 3" class="gallery__photo">
        </figure>
    </div>
  
    <div class="overview">
        <h1 class="overview__heading">
            Airline Reservation
        </h1> 
    </div>
    <div class="reservation-detail">
        <div class="form-area">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Reservation Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Number in Party</th>
                    <th scope="col">Ticket Type</th>
                    <th scope="col">Travel Class</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let r of reservations; let i = index" >
                    <th scope="row">{{i + 1}}</th>
                    <td>{{r.ReservationDate | date: 'yyyy-MM-dd'}}</td>
                    <td>{{r.Passenger.FirstName}} {{r.Passenger.LastName}}</td>                    
                    <td>{{r.NumberInParty}}</td>
                    <td>{{r.TicketType.Name}}</td>
                    <td>{{r.TravelClass.Class}}</td>
                    <td>{{r.ReservationStatus.Label}}</td>
                  </tr>                  
                </tbody>
              </table>
        </div>        
    </div>   
  
  </main>